.container{
    width: 100%;
    height: 3.5em;
    display: grid;
    grid-template-columns: 1fr 5em 5em 5em;
    align-items: center;
    background-color:rgb(189, 218, 245);
}
.btnHome {
    color: rgb(189, 218, 245);; /* Texto transparente (negro con alfa 0) */ 
    background-color: black; /* Fondo negro */
    border: none; /* Sin borde */
    padding: 5px 10px; /* Ajusta el relleno según sea necesario */
    border-radius: 5px; /* Ajusta el radio del borde según sea necesario */
}

.title{
    display: flex;
    justify-content: end;
    text-align: start;
    justify-content: start;

    padding-left: 1em;
}

.logout{
    display: flex;
    justify-content: end;
    align-items: center;
    /* text-align: center; */
    justify-content: center;

}

.projectIcon{
    width: 2.3em;
}

.logoutIcon{
    width: 2em;
}