
.container {
    width: 30em; /* Puedes ajustar el tamaño según tus necesidades */
    height: 85vh; /* Puedes ajustar el tamaño según tus necesidades */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 25% 60% 15%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0.5px solid white;
    border-radius: 10px;
    background-color: #2c3e50;
  }


.formContainer{
    width: 27em;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1em 1fr 1em 4em;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #2c3e50;
    border: none;
    padding: 0;

}
.inputForm{
    width: 27em;
    background-color:#ffffff;
    margin: 10px 0;
    height: 4rem;
    border-radius: 4rem;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}
.formIcons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputForm input{
    width: 92%;
    background: none;
    outline: none;
    border: none;
    /* line-height: 1; */
    font-size: 1.1rem;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.inputForm img{
    width: 2em;
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;

}
.spanError span{
    font-size: 0.6em;
    color: #f0f0f0;
}
.container h1{
    font-size: 3em;
}
.container p{
    color:white;
}

.title{
    color:white;
    margin-top: 1em;
}
span{
    color:white;

}

.btn{
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s; /* Agregamos el color al efecto de transición */
}

.btn:hover {
    background-color: #6bfabe; /* Cambia el color de fondo al pasar el mouse */
    color: #000; /* Cambia el color del texto al pasar el mouse */
}
.message{
    display: flex;
    text-align:center;
    justify-content: end;
}
.containerMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto hace que el div ocupe toda la altura de la pantalla */
   
  }
  
  .msg {
    text-align: center;
  }

  .registerLink {
    cursor: pointer;
    color: #889ce9;
  }

  .registerLink:hover{

    color: white;
    font-weight: bold;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fdfdfd; /* Fondo oscuro semitransparente */
    z-index: 0; /* Asegúrate de que este valor sea menor que el z-index del contenedor */
    transition: transform 2s ease; /* Efecto de transición de 2 segundos */
    transform: scale(1); /* Escala inicial */
  }
