.container{
    width: 17rem;
    height: 7rem;
    text-align: start;
    align-items: center;
    /* margin-left: 3rem; */
    /* margin-bottom: 15rem; */

}

.title{
    margin-left: 0;
    padding-left: 1rem ;
    background-color: #2c3e50;
    color: white;
}

.containerList{
    width: 100%;
    height: 5.2rem;
    overflow: auto;
    overflow-x: hidden;
}
.userContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 3em 1fr;
    text-align: start;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
    cursor: pointer;

}
.userContainer:hover{
    background-color:rgb(189, 218, 245);;

}

.btnMy {
    width: 17rem;
    margin-top: 1em;
    margin-bottom: 1rem;
    color: white;
    background-color: #2c3e50;
    border: 2px solid #2c3e50; 
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    border-radius: 1px; /* Ajusta el radio del borde según sea necesario */
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.btnMy:hover {
    color: #2c3e50;
    background-color: white;
    border: 2px solid #2c3e50; 
}

.userContainer p{
    font-size: 1em;
    font-weight: bold;
}

.Icon{
    width: 1.5rem;
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: center;
}

