*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    text-align: center;
    justify-content: center;
    justify-content: center;
}
.form{
    margin-top: 7em;
    width: 30em;
    height: 27em;
    display: grid;
    grid-template-rows:5em 5em 5em 5em 5em;
    padding: 2em;
    border: 1px solid rgb(18, 18, 18);
}

.formInputSimple{
    width: 100%;
    display: grid;
    grid-template-rows: 1.5em 1fr 1em;
    
}
.formInputSimple input{
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
}

.formInputDate{
    width: 100%;
    display: grid;
    grid-template-rows: 1.5em 1fr 1em;
}
.formInputDate input{
    width: 100%;
    height: 3em;
    border: 1px solid lightgray;
}
.formInputSelect{
    width: 100%;
    display: grid;
    grid-template-rows: 1.5em 1fr 1em;
}
.btn{
    display: flex;
    text-align: center;
    justify-content: end;
}
.btn button{
    width: 4em;
    height: 3em;
}
.btn button:hover{
    
    background-color: rgb(79, 154, 220);
    color: white;
}
.btnClose button{
    margin-top: 1em;
    position: absolute;
    right: 6em;
    width: 4em;
    height: 3em;
}

.containerProjects {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.containerConfirmDelete{
    padding: 1em;
    width: 35em;
    height: 7em;
    position: absolute;
    top: 40%;
    left: -3em;
    z-index: 999; /* Ajusta el valor de z-index según sea necesario para que esté por encima de otros elementos */
    /* Otros estilos */
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

.containerConfirmDelete p {
    font-weight: bold;
}

.btmYesandNo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:3em;
}
.btmYesandNo button{
    width: 2.5em;
    height: 2;
}