.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 2rem;
    padding: 2rem 8rem;
    margin: 0;
    background-color: #ffffff;
    height: calc(100vh - 3.5em);

}

/** Form **/
.containerForm {
    background-color: white;
    padding: 2em;
    width: 30em;
    height: 100%;
    border-radius: .5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.form {
    margin-top: 2em;
    padding: 0;
    border: none;
}

.formInputSimple { /*Input mame project - general*/
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.formInputSimple input { /*Input name project*/
    height: 3rem;
    border: none;
    border: 1px solid #162331;
    padding: 1em;
    font-family: 'Poppins', sans-serif;
}

.formInputDate {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
}

.formInputDate input {
    height: 3rem; 
    width: 100%;
    padding: 1em;
}

.formInputSelect {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.btnForm {
    margin-top: 1em;
    padding: .5em;
    width: 100%;
    min-width: auto;
    background-color: #2c3e50;
    border-radius: 1rem;
    color: white;
    transition: all .2s;
}

.btnForm:hover {
    background-color: #1a2837;
}

.btnNewP {
    margin-top: 1em;
    padding: .5em;
    width: 100%;
    min-width: auto;
    background-color: #5995fd;
    border-radius: 1rem;
    color: white;
    transition: all .2s;
}
.btnNewP:hover {
    background-color: #2a60bc;
}

.errors {
    height: 1em;
}


/**Existing Projects**/
.containerprojectsList {
    background-color: white;
    padding: 2em;
    width: 30em;
    min-height: 100%;
    max-height: 100%;
    overflow: auto;
    border-radius: .5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.headProjectList {
    background-color: #2c3e50;
    padding: .5em 1.35em;
    margin-bottom: 1rem;
    color: white;
    margin-right: calc(-1 * 1.35em); /* Compensa el padding aplicado a containerprojectsList */
    margin-left: calc(-1 * 1.35em);
    margin-top: calc(-1 * 1.35em);
}

.projectsList {
    width: 100%;
    margin-top: 2rem;
    
}
.projectItem {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}

.btnsProjects {
    display: flex;
    gap: 1rem;
}

.btnEdit {
    color: white;
    background-color: #5995fd;
    padding: .2em 1em;
    transition: all .2s;
}

.btnEdit:hover {
    background-color: #2a60bc;
}

.btnDelete {
    color: white;
    background-color: #c73e3e;
    padding: .2em 1em;
    transition: all .2s;
}

.btnDelete:hover {
    background-color: #b42323;
}


/**Alert Delete**/
.containerConfirmDelete{
    padding: 1em;
    width: 35em;
    height: 7em;
    position: absolute;
    top: 40%;
    left: -3em;
    z-index: 999; /* Ajusta el valor de z-index según sea necesario para que esté por encima de otros elementos */
    /* Otros estilos */
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

.containerConfirmDelete p {
    font-weight: bold;
}

.btmYesandNo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:3em;
}
.btmYesandNo button{
    width: 2.5em;
    height: 2;
}