
.app {
    width: 100%;
    height: 94vh;
  }

  .miniDayContainer {
    display: flex;
    justify-content: center;
  }

button{
    
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 0.3rem;
}

button:hover {
    background-color: #f0f0f0; 
}


 .rbc-toolbar-label{
    font-size: 1.5rem;
  }


  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    z-index: 998; /* Asegúrate de que este valor sea menor que el z-index del contenedor */
  }

  .containerConfirmDelete{
    padding: 1em;
    width: 35em;
    height: 7em;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 999; /* Ajusta el valor de z-index según sea necesario para que esté por encima de otros elementos */
    /* Otros estilos */
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

.containerConfirmDelete p {
    font-weight: bold;
}

.btmYesandNo{
  display: flex;
  text-align: center;
  justify-content: center;
}
.btmYesandNo button{

    width: 2.5em;
    height: 2;
}

.rbc-toolbar button {
  color: #f5f8fa;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background-color: #2c3e50;
  background-image: none;
  border: 1px solid #2c3e50;
  padding: 0.375rem 1rem;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
}

.rbc-toolbar button.rbc-active {
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background-color: #1a252f;
  border-color: #1a252f;
}

.rbc-toolbar button:hover, .rbc-toolbar button:focus, .rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus {
  color: white;
  background-color: #1a252f;
  border-color: #1a252f;
}