.app {
    width: 100%;
    height: 100vh;
  }
  
  .calendarContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr ;
    align-items: center;
  }
  
  .miniDayContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap:5%;
  }

button{
    
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0; 
}


 .rbc-toolbar-label{
    font-size: 1.5rem;
  }
  .containerMini-User{
    display: grid;
    grid-template-rows: auto 1fr;
  }