.app {
    width: 100%;
    height: 96vh;
  }
  

  .miniDayContainer {
    
    display: flex;
    justify-content: center;
  }

button{
    
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0; 
}


 .rbc-toolbar-label{
    font-size: 1.5rem;
  }


  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    z-index: 998; /* Asegúrate de que este valor sea menor que el z-index del contenedor */
  }

  .containerConfirmDelete{
    padding: 1em;
    width: 35em;
    height: 7em;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 999; /* Ajusta el valor de z-index según sea necesario para que esté por encima de otros elementos */
    /* Otros estilos */
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

.containerConfirmDelete p {
    font-weight: bold;
}

.btmYesandNo{
  display: flex;
  text-align: center;
  justify-content: center;
}
.btmYesandNo button{

    width: 2.5em;
    height: 2;
}