/* Reset CSS */

/* Box-sizing border-box por defecto para todos los elementos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Establecer la fuente predeterminada y tamaño de texto para evitar variaciones */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

/* Eliminar la lista de estilos predeterminada para listas no ordenadas y ordenadas */
ul, ol {
  list-style: none;
}

/* Eliminar el espaciado predeterminado para elementos de lista */
li {
  margin: 0;
  padding: 0;
}

/* Eliminar la decoración de texto predeterminada para enlaces */
a {
  text-decoration: none;
}

/* Asegurarse de que las imágenes se comporten de manera predeterminada */
img {
  max-width: 100%;
  height: auto;
}
