.container {
    width: 40em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; /* Ajusta el valor de z-index según sea necesario para que esté por encima de otros elementos */
    /* Otros estilos */
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
        z-index: 998; /* Asegúrate de que este valor sea menor que el z-index del contenedor */
      }
    /* Otros estilos para el formulario, por ejemplo: */
    form {
        position: relative;
        display: grid;
        grid-template-rows: 1fr auto;
        max-width: 40em;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background: #fff; /* Fondo blanco para el formulario */
    }
    .formImput{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .formImput label{
        font-weight: bold;
        font-size: 1.4em;
    }
    .iconClose{
        position: absolute;
        top:-1.5em;
        right:-1.5em;
    }

    .containerIcons{
        display: flex;
        justify-content: flex-end;
        padding-top: 1em;
    }