.container {
    width: 30em;
    max-height: 80vh; /* Establece una altura máxima para limitar el estiramiento */
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; /* Ajusta el valor de z-index según sea necesario para que esté por encima de otros elementos */
    /* Otros estilos */
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
        z-index: 998; /* Asegúrate de que este valor sea menor que el z-index del contenedor */
      }
    /* Otros estilos para el formulario, por ejemplo: */
    form {
        position: relative;
        display: grid;
        grid-template-rows: auto auto;;
        max-width: 40em;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background: #fff; /* Fondo blanco para el formulario */
    }
    .formInput{
        display: grid;
        grid-template-rows: 2.5em 2.5em 2.5em 2.5em 2.5em 2.5em 2.5em 2.5em 2.5em 2.5em;
        gap: 5px;
    }
    .formInput label{
        font-weight: bold;
        font-size: 1.3em;
    }
    .formInput input{
        width: 100%;
        height: 2.5em;
        font-size: 1em;
    }
    .formInput select{
        height: 3em;
    }
    input:focus{
        box-shadow: 0 0 8px #88D5E9;
        border: 1px solid #88D5E9;
    }
   
    .iconClose{
        position: absolute;
        top:-1.5em;
        right:-1.5em;
    }

    .containerIcons{
        display: flex;
        justify-content: flex-end;
        padding-top: 1em;
        gap: 4rem;
    }

    .icons {
        cursor: pointer; 
    }
    .dateTime{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .containerConfirmDelete{
        width: 35em;
        height: 7em;
        position: absolute;
        top: 40%;
        left: -3em;
        z-index: 999; /* Ajusta el valor de z-index según sea necesario para que esté por encima de otros elementos */
        /* Otros estilos */
        border-radius: 10px;
        background-color: #fff;
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        
    }

    .containerConfirmDelete p {
        font-weight: bold;
    }
    .btmYesandNo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:3em;
    }