.container {
    width: 76vw; 
    height: 85.4vh;
    /* margin-right: 3rem; */
    margin-top: 2rem;
    padding-right: 1rem;
    
}

@media (max-width: 768px) {
    .container {
        width: 95%; 
    }
}